*{
  margin: 0;
  font-family: 'Proxima Nova', 'Montserrat';
}
a {
  text-decoration: none;
}
h1{
  color:#fefeff;
}
button{
  font-family: inherit;
  border:0;
}
img {  
  width:100%;
  height:100%;
  object-fit:cover;
}  
.login-page {
  background-color: #010100;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.login-msg {
  width: 500px;
  padding: 20px 0px;
  text-align: center;
  background-color: #1ad660;
  border-radius: 50px;
  color: #1f1f1f;
  font-size: larger;
  font-weight: 600;
}
.login-btn {
  width: 500px;
  padding: 15px 0px;
  text-align: center;
  background-color: #1ad660;
  border-radius: 50px;
  color: #fefeff;
  font-weight: 600;
  margin-top: 2%;
  cursor:pointer;
  &:hover {
    background-color: #1cde62;
  }
}
.wrapped-now-header{
  color: #1ad660;
  font-size: xxx-large;
  margin-bottom: 2rem;
}
.home-page {
  background-color: #010100;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1.2fr 4fr;
}
.home-container{
  background-color: #121313;
  border-radius: 15px;
  color: #fefeff;
  height: 90vh;
  margin: 0.5rem;
  padding:2rem;
}
.sidebar-btn-container{
  display: flex;
  align-items: center;
  gap: 30px;
}
.icon{
  stroke-width: 0.5;
}
.sidebar-btn {
  background-color: #121313;
  color:#7e7e7f;
  width:100%;
  padding: 15px 0px;
  text-align: left;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
  transition: ease color 250ms;
  &:hover {
    color: #fefeff;
  }
}
.wrapped{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 6fr;
  gap: 0.5rem;
  align-content: start;
}
.grid-col-span-2{
  grid-column: span 2;
}
.timespan {
  background-color: #1ad660;
  color: #121313;
  outline:0;
  font-size: medium;
  padding: 1rem 1rem;
  border-radius:50px;
  cursor:pointer;
  margin: 10px;
  transition: ease background-color 250ms;
  &:hover {
    background-color: #1cde62;
  }
}
.timespan-selected {
  background-color: #1cde62;
  color:#fefeff;
}
.top-items{
  border-radius: 15px;
  height: 92%;
  background-color: #282929;
  padding: 1.5rem;
}
.top-items-header{
  margin-bottom: 1rem;
}
.top-item{
  width: 100%;
  height: 115px;
  display:grid;
  border-radius: 15px;
  grid-template-columns: 115px 2fr;
  gap: 30px;
  &:hover {
    background-color: #313031;
  }
}
.top-item-info-container{
  margin-top: 2rem;
  height: 115px;
}
.top-item-info{
  color:#7e7e7f;
  font-size: large;
  font-weight: 600;
  margin-bottom: 0.3rem;
  &:hover {
    color: #fefeff;
  }
}
.top-item-img-container {
  height: 115px;
  width: 115px;
  overflow:hidden;
}
.top-item-img img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}