*{
  margin: 0;
  font-family: 'Proxima Nova', 'Montserrat';
}
a {
  text-decoration: none;
}
h1{
  color:#fefeff
}
button{
  font-family: inherit;
}
.login-page {
  background-color: #191414;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.login-msg {
  width: 500px;
  padding: 20px 0px;
  text-align: center;
  background-color: #1DB954;
  border-radius: 50px;
  color: #1f1f1f;
  font-size: larger;
  font-weight: 600;
}
.login-btn {
  width: 500px;
  padding: 15px 0px;
  text-align: center;
  background-color: #1DB954;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 2%;
}
.home-page {
  background-color: #010100;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1.2fr 4fr;
}
.home-container{
  background-color: #121313;
  border-radius: 15px;
  color: #fefeff;
  height: 90vh;
  /* border: 2px solid #fefeff; */
  margin: 0.5rem;
  padding:2rem;
}
.sidebar{
  /* border: 2px solid #83c117; */
}
.sidebar-btn {
  padding: 15px 0px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  margin-top: 2%;
  border: 2px solid #fefeff;
  cursor: pointer;
}
.wrapped{
  /* border: 2px solid #cc5ca5; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
  gap: 0.5rem;
  align-content: start;
}
.grid-col-span-2{
  grid-column: span 2;
}
.timespan {
  background-color: #1ad660;
  color: #121313;
  outline:0;
  font-size: large;
  padding: 1.5rem 2.5rem;
  border-radius:50px;
  cursor:pointer;
  margin: 10px;
  transition: ease background-color 250ms;
  &:hover {
    background-color: #25E46B;
  }
}
.timespan-selected {
  background-color: #25E46B;
  color:#fefeff;
}
.top-items{
  border-radius: 15px;
  height: 100px;
  background-color: #282929;
  border: 2px solid #fefeff;
}